/* Start Dropdown Menu */
.dropdown1 { position:absolute; width:140px; background:#090E11; border:1px solid #494949; font-size:12px; z-index:100; padding:10px; margin:-1px 0 0 160px; display:none;}
.dropdown1 li { border-bottom:1px solid #1D2124;  width:140px; text-align:left }
/*.dropdown li.bg { background:url(../images/arrow.gif) no-repeat right;}*/
.dropdown1 li a { color:#fff; text-decoration:none; display:block; padding:5px 0 5px 5px; cursor:pointer;}
.dropdown1 li a:hover { background:#242620; color:#E1C383;}

.drop-inside1 { display:none;}
.drop-inside1 li a { padding-left:10px;  color:#ccc;}
.drop-inside1 li.nopad a { padding:5px 0 5px 0; color:#fff;}

.dropdown2 { position:absolute; width:140px; background:#090E11; border:1px solid #494949; font-size:12px; z-index:100; padding:10px; margin:-1px 0 0 320px; display:none; }
.dropdown2 li { border-bottom:1px solid #1D2124; width:140px; text-align:left}
.dropdown2 li a { color:#fff; text-decoration:none; display:block; padding:5px 0 5px 5px; cursor:pointer;}
.dropdown2 li a:hover { background:#242620; color:#E1C383;}

.drop-inside2 { display:none;}
.drop-inside2 li a { padding-left:10px;  color:#ccc;}
.drop-inside2 li.nopad a { padding:5px 0 5px 0; color:#fff;}

.dropdown3 { position:absolute; width:140px; background:#090E11; border:1px solid #494949; font-size:12px; z-index:100; padding:10px; margin:-1px 0 0 584px; display:none; }
.dropdown3 li { border-bottom:1px solid #1D2124; width:140px; text-align:left}
.dropdown3 li a { color:#fff; text-decoration:none; display:block; padding:5px 0 5px 5px; cursor:pointer;}
.dropdown3 li a:hover { background:#242620; color:#E1C383;}

.drop-inside3 { display:none;}
.drop-inside3 li a { padding-left:10px;  color:#ccc;}
.drop-inside3 li.nopad a { padding:5px 0 5px 0; color:#fff;}

.dropdown4 { position:absolute; width:140px; background:#090E11; border:1px solid #494949; font-size:12px; z-index:100; padding:10px; margin:-1px 0 0 961px; display:none; }
.dropdown4 li { border-bottom:1px solid #1D2124; width:140px; text-align:left}
.dropdown4 li a { color:#fff; text-decoration:none; display:block; padding:5px 0 5px 5px; cursor:pointer;}
.dropdown4 li a:hover { background:#242620; color:#E1C383;}

.drop-inside4 { display:none;}
.drop-inside4 li a { padding-left:10px;  color:#ccc;}
.drop-inside4 li.nopad a { padding:5px 0 5px 0; color:#fff;}