.flag-a1-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -378px -88px transparent;
    height: 11px;
    width: 16px;
}
.flag-a2-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -378px -66px transparent;
    height: 11px;
    width: 16px;
}
.flag-ad-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -378px -44px transparent;
    height: 11px;
    width: 16px;
}
.flag-ae-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -378px -22px transparent;
    height: 11px;
    width: 16px;
}
.flag-af-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -380px 0 transparent;
    height: 11px;
    width: 16px;
}
.flag-ag-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -351px -374px transparent;
    height: 11px;
    width: 16px;
}
.flag-ai-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -324px -374px transparent;
    height: 11px;
    width: 16px;
}
.flag-al-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -297px -374px transparent;
    height: 11px;
    width: 16px;
}
.flag-am-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -270px -374px transparent;
    height: 11px;
    width: 16px;
}
.flag-an-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -243px -374px transparent;
    height: 11px;
    width: 16px;
}
.flag-ao-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -216px -374px transparent;
    height: 11px;
    width: 16px;
}
.flag-ap-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -189px -374px transparent;
    height: 11px;
    width: 16px;
}
.flag-aq-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -162px -374px transparent;
    height: 11px;
    width: 16px;
}
.flag-ar-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -135px -374px transparent;
    height: 11px;
    width: 16px;
}
.flag-as-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -108px -374px transparent;
    height: 11px;
    width: 16px;
}
.flag-at-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -81px -374px transparent;
    height: 11px;
    width: 16px;
}
.flag-au-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -54px -374px transparent;
    height: 11px;
    width: 16px;
}
.flag-aw-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -27px -374px transparent;
    height: 11px;
    width: 16px;
}
.flag-ax-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll 0 -374px transparent;
    height: 11px;
    width: 16px;
}
.flag-az-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -351px -352px transparent;
    height: 11px;
    width: 16px;
}
.flag-ba-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -351px -330px transparent;
    height: 11px;
    width: 16px;
}
.flag-bb-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -351px -308px transparent;
    height: 11px;
    width: 16px;
}
.flag-bd-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -351px -286px transparent;
    height: 11px;
    width: 16px;
}
.flag-be-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -351px -264px transparent;
    height: 11px;
    width: 16px;
}
.flag-bf-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -351px -242px transparent;
    height: 11px;
    width: 16px;
}
.flag-bg-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -351px -220px transparent;
    height: 11px;
    width: 16px;
}
.flag-bh-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -351px -198px transparent;
    height: 11px;
    width: 16px;
}
.flag-bi-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -351px -176px transparent;
    height: 11px;
    width: 16px;
}
.flag-bj-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -351px -154px transparent;
    height: 11px;
    width: 16px;
}
.flag-bl-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -351px -132px transparent;
    height: 11px;
    width: 16px;
}
.flag-blank-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -351px -110px transparent;
    height: 11px;
    width: 16px;
}
.flag-blank2-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -351px -88px transparent;
    height: 11px;
    width: 16px;
}
.flag-bm-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -351px -66px transparent;
    height: 11px;
    width: 16px;
}
.flag-bn-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -351px -44px transparent;
    height: 11px;
    width: 16px;
}
.flag-bo-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -351px -22px transparent;
    height: 11px;
    width: 16px;
}
.flag-br-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -353px 0 transparent;
    height: 11px;
    width: 16px;
}
.flag-bs-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -324px -352px transparent;
    height: 11px;
    width: 16px;
}
.flag-bt-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -297px -352px transparent;
    height: 11px;
    width: 16px;
}
.flag-bv-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -270px -352px transparent;
    height: 11px;
    width: 16px;
}
.flag-bw-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -243px -352px transparent;
    height: 11px;
    width: 16px;
}
.flag-by-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -216px -352px transparent;
    height: 11px;
    width: 16px;
}
.flag-bz-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -189px -352px transparent;
    height: 11px;
    width: 16px;
}
.flag-ca-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -162px -352px transparent;
    height: 11px;
    width: 16px;
}
.flag-cc-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -135px -352px transparent;
    height: 11px;
    width: 16px;
}
.flag-cd-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -108px -352px transparent;
    height: 11px;
    width: 16px;
}
.flag-cf-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -81px -352px transparent;
    height: 11px;
    width: 16px;
}
.flag-cg-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -54px -352px transparent;
    height: 11px;
    width: 16px;
}
.flag-ch-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -407px 0 transparent;
    height: 11px;
    width: 11px;
}
.flag-ci-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -27px -352px transparent;
    height: 11px;
    width: 16px;
}
.flag-ck-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll 0 -352px transparent;
    height: 11px;
    width: 16px;
}
.flag-cl-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -324px -330px transparent;
    height: 11px;
    width: 16px;
}
.flag-cm-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -297px -330px transparent;
    height: 11px;
    width: 16px;
}
.flag-cn-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -270px -330px transparent;
    height: 11px;
    width: 16px;
}
.flag-co-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -243px -330px transparent;
    height: 11px;
    width: 16px;
}
.flag-cr-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -216px -330px transparent;
    height: 11px;
    width: 16px;
}
.flag-cs-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -189px -330px transparent;
    height: 11px;
    width: 16px;
}
.flag-cu-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -162px -330px transparent;
    height: 11px;
    width: 16px;
}
.flag-cv-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -135px -330px transparent;
    height: 11px;
    width: 16px;
}
.flag-cw-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -108px -330px transparent;
    height: 11px;
    width: 16px;
}
.flag-cx-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -81px -330px transparent;
    height: 11px;
    width: 16px;
}
.flag-cy-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -54px -330px transparent;
    height: 11px;
    width: 16px;
}
.flag-cz-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -27px -330px transparent;
    height: 11px;
    width: 16px;
}
.flag-de-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll 0 -330px transparent;
    height: 11px;
    width: 16px;
}
.flag-dj-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -324px -308px transparent;
    height: 11px;
    width: 16px;
}
.flag-dk-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -297px -308px transparent;
    height: 11px;
    width: 16px;
}
.flag-dm-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -270px -308px transparent;
    height: 11px;
    width: 16px;
}
.flag-do-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -243px -308px transparent;
    height: 11px;
    width: 16px;
}
.flag-dz-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -216px -308px transparent;
    height: 11px;
    width: 16px;
}
.flag-ec-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -189px -308px transparent;
    height: 11px;
    width: 16px;
}
.flag-ee-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -162px -308px transparent;
    height: 11px;
    width: 16px;
}
.flag-eg-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -135px -308px transparent;
    height: 11px;
    width: 16px;
}
.flag-eh-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -108px -308px transparent;
    height: 11px;
    width: 16px;
}
.flag-er-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -81px -308px transparent;
    height: 11px;
    width: 16px;
}
.flag-es-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -54px -308px transparent;
    height: 11px;
    width: 16px;
}
.flag-et-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -27px -308px transparent;
    height: 11px;
    width: 16px;
}
.flag-eu-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll 0 -308px transparent;
    height: 11px;
    width: 16px;
}
.flag-fam-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -324px -286px transparent;
    height: 11px;
    width: 16px;
}
.flag-fi-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -297px -286px transparent;
    height: 11px;
    width: 16px;
}
.flag-fj-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -270px -286px transparent;
    height: 11px;
    width: 16px;
}
.flag-fk-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -243px -286px transparent;
    height: 11px;
    width: 16px;
}
.flag-fm-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -216px -286px transparent;
    height: 11px;
    width: 16px;
}
.flag-fo-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -189px -286px transparent;
    height: 11px;
    width: 16px;
}
.flag-fr-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -162px -286px transparent;
    height: 11px;
    width: 16px;
}
.flag-ga-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -135px -286px transparent;
    height: 11px;
    width: 16px;
}
.flag-gb-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -108px -286px transparent;
    height: 11px;
    width: 16px;
}
.flag-gd-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -81px -286px transparent;
    height: 11px;
    width: 16px;
}
.flag-ge-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -54px -286px transparent;
    height: 11px;
    width: 16px;
}
.flag-gf-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -27px -286px transparent;
    height: 11px;
    width: 16px;
}
.flag-gg-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll 0 -286px transparent;
    height: 11px;
    width: 16px;
}
.flag-gh-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -324px -264px transparent;
    height: 11px;
    width: 16px;
}
.flag-gi-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -297px -264px transparent;
    height: 11px;
    width: 16px;
}
.flag-gl-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -270px -264px transparent;
    height: 11px;
    width: 16px;
}
.flag-gm-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -243px -264px transparent;
    height: 11px;
    width: 16px;
}
.flag-gn-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -216px -264px transparent;
    height: 11px;
    width: 16px;
}
.flag-gp-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -189px -264px transparent;
    height: 11px;
    width: 16px;
}
.flag-gq-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -162px -264px transparent;
    height: 11px;
    width: 16px;
}
.flag-gr-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -135px -264px transparent;
    height: 11px;
    width: 16px;
}
.flag-gs-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -108px -264px transparent;
    height: 11px;
    width: 16px;
}
.flag-gt-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -81px -264px transparent;
    height: 11px;
    width: 16px;
}
.flag-gu-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -54px -264px transparent;
    height: 11px;
    width: 16px;
}
.flag-gw-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -27px -264px transparent;
    height: 11px;
    width: 16px;
}
.flag-gy-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll 0 -264px transparent;
    height: 11px;
    width: 16px;
}
.flag-hk-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -324px -242px transparent;
    height: 11px;
    width: 16px;
}
.flag-hm-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -297px -242px transparent;
    height: 11px;
    width: 16px;
}
.flag-hn-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -270px -242px transparent;
    height: 11px;
    width: 16px;
}
.flag-hr-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -243px -242px transparent;
    height: 11px;
    width: 16px;
}
.flag-ht-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -216px -242px transparent;
    height: 11px;
    width: 16px;
}
.flag-hu-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -189px -242px transparent;
    height: 11px;
    width: 16px;
}
.flag-id-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -162px -242px transparent;
    height: 11px;
    width: 16px;
}
.flag-ie-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -135px -242px transparent;
    height: 11px;
    width: 16px;
}
.flag-il-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -108px -242px transparent;
    height: 11px;
    width: 16px;
}
.flag-im-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -81px -242px transparent;
    height: 11px;
    width: 16px;
}
.flag-in-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -54px -242px transparent;
    height: 11px;
    width: 16px;
}
.flag-io-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -27px -242px transparent;
    height: 11px;
    width: 16px;
}
.flag-iq-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll 0 -242px transparent;
    height: 11px;
    width: 16px;
}
.flag-ir-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -324px -220px transparent;
    height: 11px;
    width: 16px;
}
.flag-is-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -297px -220px transparent;
    height: 11px;
    width: 16px;
}
.flag-it-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -270px -220px transparent;
    height: 11px;
    width: 16px;
}
.flag-je-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -243px -220px transparent;
    height: 11px;
    width: 16px;
}
.flag-jm-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -216px -220px transparent;
    height: 11px;
    width: 16px;
}
.flag-jo-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -189px -220px transparent;
    height: 11px;
    width: 16px;
}
.flag-jp-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -162px -220px transparent;
    height: 11px;
    width: 16px;
}
.flag-ke-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -135px -220px transparent;
    height: 11px;
    width: 16px;
}
.flag-kg-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -108px -220px transparent;
    height: 11px;
    width: 16px;
}
.flag-kh-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -81px -220px transparent;
    height: 11px;
    width: 16px;
}
.flag-ki-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -54px -220px transparent;
    height: 11px;
    width: 16px;
}
.flag-km-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -27px -220px transparent;
    height: 11px;
    width: 16px;
}
.flag-kn-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll 0 -220px transparent;
    height: 11px;
    width: 16px;
}
.flag-kp-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -324px -198px transparent;
    height: 11px;
    width: 16px;
}
.flag-kr-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -297px -198px transparent;
    height: 11px;
    width: 16px;
}
.flag-kw-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -270px -198px transparent;
    height: 11px;
    width: 16px;
}
.flag-ky-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -243px -198px transparent;
    height: 11px;
    width: 16px;
}
.flag-kz-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -216px -198px transparent;
    height: 11px;
    width: 16px;
}
.flag-la-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -189px -198px transparent;
    height: 11px;
    width: 16px;
}
.flag-lb-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -162px -198px transparent;
    height: 11px;
    width: 16px;
}
.flag-lc-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -135px -198px transparent;
    height: 11px;
    width: 16px;
}
.flag-li-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -108px -198px transparent;
    height: 11px;
    width: 16px;
}
.flag-lk-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -81px -198px transparent;
    height: 11px;
    width: 16px;
}
.flag-lr-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -54px -198px transparent;
    height: 11px;
    width: 16px;
}
.flag-ls-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -27px -198px transparent;
    height: 11px;
    width: 16px;
}
.flag-lt-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll 0 -198px transparent;
    height: 11px;
    width: 16px;
}
.flag-lu-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -324px -176px transparent;
    height: 11px;
    width: 16px;
}
.flag-lv-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -297px -176px transparent;
    height: 11px;
    width: 16px;
}
.flag-ly-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -270px -176px transparent;
    height: 11px;
    width: 16px;
}
.flag-ma-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -243px -176px transparent;
    height: 11px;
    width: 16px;
}
.flag-mc-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -216px -176px transparent;
    height: 11px;
    width: 16px;
}
.flag-md-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -189px -176px transparent;
    height: 11px;
    width: 16px;
}
.flag-me-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -29px 0 transparent;
    height: 12px;
    width: 16px;
}
.flag-mf-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -162px -176px transparent;
    height: 11px;
    width: 16px;
}
.flag-mg-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -135px -176px transparent;
    height: 11px;
    width: 16px;
}
.flag-mh-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -108px -176px transparent;
    height: 11px;
    width: 16px;
}
.flag-mk-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -81px -176px transparent;
    height: 11px;
    width: 16px;
}
.flag-ml-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -54px -176px transparent;
    height: 11px;
    width: 16px;
}
.flag-mm-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -27px -176px transparent;
    height: 11px;
    width: 16px;
}
.flag-mn-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll 0 -176px transparent;
    height: 11px;
    width: 16px;
}
.flag-mo-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -324px -154px transparent;
    height: 11px;
    width: 16px;
}
.flag-mp-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -297px -154px transparent;
    height: 11px;
    width: 16px;
}
.flag-mq-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -270px -154px transparent;
    height: 11px;
    width: 16px;
}
.flag-mr-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -243px -154px transparent;
    height: 11px;
    width: 16px;
}
.flag-ms-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -216px -154px transparent;
    height: 11px;
    width: 16px;
}
.flag-mt-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -189px -154px transparent;
    height: 11px;
    width: 16px;
}
.flag-mu-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -162px -154px transparent;
    height: 11px;
    width: 16px;
}
.flag-mv-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -135px -154px transparent;
    height: 11px;
    width: 16px;
}
.flag-mw-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll 0 0 transparent;
    height: 11px;
    width: 16px;
}
.flag-mx-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -108px -154px transparent;
    height: 11px;
    width: 16px;
}
.flag-my-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -81px -154px transparent;
    height: 11px;
    width: 16px;
}
.flag-mz-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -54px -154px transparent;
    height: 11px;
    width: 16px;
}
.flag-na-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -27px -154px transparent;
    height: 11px;
    width: 16px;
}
.flag-nc-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll 0 -154px transparent;
    height: 11px;
    width: 16px;
}
.flag-ne-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -324px -132px transparent;
    height: 11px;
    width: 16px;
}
.flag-nf-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -297px -132px transparent;
    height: 11px;
    width: 16px;
}
.flag-ng-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -270px -132px transparent;
    height: 11px;
    width: 16px;
}
.flag-ni-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -243px -132px transparent;
    height: 11px;
    width: 16px;
}
.flag-nl-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -216px -132px transparent;
    height: 11px;
    width: 16px;
}
.flag-no-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -189px -132px transparent;
    height: 11px;
    width: 16px;
}
.flag-np-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -162px -132px transparent;
    height: 11px;
    width: 16px;
}
.flag-nr-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -135px -132px transparent;
    height: 11px;
    width: 16px;
}
.flag-nu-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -108px -132px transparent;
    height: 11px;
    width: 16px;
}
.flag-nz-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -81px -132px transparent;
    height: 11px;
    width: 16px;
}
.flag-om-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -54px -132px transparent;
    height: 11px;
    width: 16px;
}
.flag-pa-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -27px -132px transparent;
    height: 11px;
    width: 16px;
}
.flag-pe-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll 0 -132px transparent;
    height: 11px;
    width: 16px;
}
.flag-pf-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -324px -110px transparent;
    height: 11px;
    width: 16px;
}
.flag-pg-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -297px -110px transparent;
    height: 11px;
    width: 16px;
}
.flag-ph-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -270px -110px transparent;
    height: 11px;
    width: 16px;
}
.flag-pk-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -243px -110px transparent;
    height: 11px;
    width: 16px;
}
.flag-pl-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -216px -110px transparent;
    height: 11px;
    width: 16px;
}
.flag-pm-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -189px -110px transparent;
    height: 11px;
    width: 16px;
}
.flag-pn-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -162px -110px transparent;
    height: 11px;
    width: 16px;
}
.flag-pr-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -135px -110px transparent;
    height: 11px;
    width: 16px;
}
.flag-ps-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -108px -110px transparent;
    height: 11px;
    width: 16px;
}
.flag-pt-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -81px -110px transparent;
    height: 11px;
    width: 16px;
}
.flag-pw-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -54px -110px transparent;
    height: 11px;
    width: 16px;
}
.flag-py-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -27px -110px transparent;
    height: 11px;
    width: 16px;
}
.flag-qa-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll 0 -110px transparent;
    height: 11px;
    width: 16px;
}
.flag-re-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -324px -88px transparent;
    height: 11px;
    width: 16px;
}
.flag-ro-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -297px -88px transparent;
    height: 11px;
    width: 16px;
}
.flag-rs-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -270px -88px transparent;
    height: 11px;
    width: 16px;
}
.flag-ru-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -243px -88px transparent;
    height: 11px;
    width: 16px;
}
.flag-rw-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -216px -88px transparent;
    height: 11px;
    width: 16px;
}
.flag-sa-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -189px -88px transparent;
    height: 11px;
    width: 16px;
}
.flag-sb-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -162px -88px transparent;
    height: 11px;
    width: 16px;
}
.flag-sc-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -135px -88px transparent;
    height: 11px;
    width: 16px;
}
.flag-sd-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -108px -88px transparent;
    height: 11px;
    width: 16px;
}
.flag-se-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -81px -88px transparent;
    height: 11px;
    width: 16px;
}
.flag-sg-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -54px -88px transparent;
    height: 11px;
    width: 16px;
}
.flag-sh-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -27px -88px transparent;
    height: 11px;
    width: 16px;
}
.flag-si-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll 0 -88px transparent;
    height: 11px;
    width: 16px;
}
.flag-sj-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -324px -66px transparent;
    height: 11px;
    width: 16px;
}
.flag-sk-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -297px -66px transparent;
    height: 11px;
    width: 16px;
}
.flag-sl-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -270px -66px transparent;
    height: 11px;
    width: 16px;
}
.flag-sm-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -243px -66px transparent;
    height: 11px;
    width: 16px;
}
.flag-sn-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -216px -66px transparent;
    height: 11px;
    width: 16px;
}
.flag-so-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -189px -66px transparent;
    height: 11px;
    width: 16px;
}
.flag-sr-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -162px -66px transparent;
    height: 11px;
    width: 16px;
}
.flag-st-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -135px -66px transparent;
    height: 11px;
    width: 16px;
}
.flag-sv-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -108px -66px transparent;
    height: 11px;
    width: 16px;
}
.flag-sx-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -81px -66px transparent;
    height: 11px;
    width: 16px;
}
.flag-sy-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -54px -66px transparent;
    height: 11px;
    width: 16px;
}
.flag-sz-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -27px -66px transparent;
    height: 11px;
    width: 16px;
}
.flag-tc-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll 0 -66px transparent;
    height: 11px;
    width: 16px;
}
.flag-td-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -324px -44px transparent;
    height: 11px;
    width: 16px;
}
.flag-tf-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -297px -44px transparent;
    height: 11px;
    width: 16px;
}
.flag-tg-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -270px -44px transparent;
    height: 11px;
    width: 16px;
}
.flag-th-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -243px -44px transparent;
    height: 11px;
    width: 16px;
}
.flag-tj-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -216px -44px transparent;
    height: 11px;
    width: 16px;
}
.flag-tk-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -189px -44px transparent;
    height: 11px;
    width: 16px;
}
.flag-tl-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -162px -44px transparent;
    height: 11px;
    width: 16px;
}
.flag-tm-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -135px -44px transparent;
    height: 11px;
    width: 16px;
}
.flag-tn-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -108px -44px transparent;
    height: 11px;
    width: 16px;
}
.flag-to-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -81px -44px transparent;
    height: 11px;
    width: 16px;
}
.flag-tr-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -54px -44px transparent;
    height: 11px;
    width: 16px;
}
.flag-tt-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -27px -44px transparent;
    height: 11px;
    width: 16px;
}
.flag-tv-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll 0 -44px transparent;
    height: 11px;
    width: 16px;
}
.flag-tw-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -324px -22px transparent;
    height: 11px;
    width: 16px;
}
.flag-tz-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -297px -22px transparent;
    height: 11px;
    width: 16px;
}
.flag-ua-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -270px -22px transparent;
    height: 11px;
    width: 16px;
}
.flag-ug-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -243px -22px transparent;
    height: 11px;
    width: 16px;
}
.flag-um-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -216px -22px transparent;
    height: 11px;
    width: 16px;
}
.flag-unknown-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -189px -22px transparent;
    height: 11px;
    width: 16px;
}
.flag-us-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -162px -22px transparent;
    height: 11px;
    width: 16px;
}
.flag-uy-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -135px -22px transparent;
    height: 11px;
    width: 16px;
}
.flag-uz-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -108px -22px transparent;
    height: 11px;
    width: 16px;
}
.flag-va-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -81px -22px transparent;
    height: 11px;
    width: 16px;
}
.flag-vc-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -54px -22px transparent;
    height: 11px;
    width: 16px;
}
.flag-ve-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -27px -22px transparent;
    height: 11px;
    width: 16px;
}
.flag-vg-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll 0 -22px transparent;
    height: 11px;
    width: 16px;
}
.flag-vi-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -326px 0 transparent;
    height: 11px;
    width: 16px;
}
.flag-vn-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -299px 0 transparent;
    height: 11px;
    width: 16px;
}
.flag-vu-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -272px 0 transparent;
    height: 11px;
    width: 16px;
}
.flag-wf-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -245px 0 transparent;
    height: 11px;
    width: 16px;
}
.flag-ws-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -218px 0 transparent;
    height: 11px;
    width: 16px;
}
.flag-xx-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -191px 0 transparent;
    height: 11px;
    width: 16px;
}
.flag-ye-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -164px 0 transparent;
    height: 11px;
    width: 16px;
}
.flag-yt-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -137px 0 transparent;
    height: 11px;
    width: 16px;
}
.flag-za-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -110px 0 transparent;
    height: 11px;
    width: 16px;
}
.flag-zm-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -83px 0 transparent;
    height: 11px;
    width: 16px;
}
.flag-zw-png {
    background: url("/images/tournament/spriteFlag.png") no-repeat scroll -56px 0 transparent;
    height: 11px;
    width: 16px;
}
